{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/index.css" %}'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap" rel="stylesheet">
    <title>Agua</title>
    
</head>
<body>
    <div class="container">
        <nav class="nav-main">
                <img src="{% static '/img/logo.png' %}" class="nav-logo" id="logo" alt="logo">
                <label  class="label-logo" for="logo">Aguas Puras</label>
                <ul class="nav-menu">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="#">about</a>
                    </li>
                    <li>
                        <a href="#">about</a>
                    </li>
                    <li>
                        <a href="#">about</a>
                    </li>
                    <li>
                        <a href="#">about</a>
                    </li>
                    <span>
                        <i class="fa fa-bars"></i>
                    </span>
                </ul>
        </nav>
        <header class="contenido-principal">
            <span> <strong>Agua mineral natural de mineralización muy débil</strong> </span>
            <p>Indicada para la preparación de alimentos infantiles y dietas bajas en sodio</p>
            <a href="#" class="btn"><i class="fas fa-angle-down"></i></a>
        </header>
        <div class="news-cards">
            <div>
                <img src="{% static 'img/new1.jpg'%}" alt="new1">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new2.jpg'%}" alt="new2">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new3.jpg'%}" alt="new3">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new3.jpg'%}" alt="new3">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new3.jpg'%}" alt="new3">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new4.jpg'%}" alt="new4">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new4.jpg'%}" alt="new4">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new3.jpg'%}" alt="new3">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores
                    possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new2.jpg'%}" alt="new2">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores
                    possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new1.jpg'%}" alt="new1">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores
                    possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new1.jpg'%}" alt="new1">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores
                    possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new2.jpg'%}" alt="new2">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores
                    possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new3.jpg'%}" alt="new3">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores
                    possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
            <div>
                <img src="{% static 'img/new4.jpg'%}" alt="new4">
                <h3>Lorem ipsum dolor sit.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At molestiae quo a iure consectetur suscipit dolores
                    possimus nisi odit quam harum amet, officia unde ducimus ullam quae porro, autem nihil!</p>
                <a href="#">leer <i class="fas fa-angle-double-right"></i></a>
            </div>
        </div>
        <section class="social">
            <p>Seguir Aguas Puras</p>
            <div class="links">
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
            </div>
        </section>
    </div>
    <div class="footer-link">
        <div class="footer-container">
            <ul>
                <li>
                    <a href="#">Title</a>
                </li>
                <li>
                    <a href="#">Title1</a>
                </li>
                <li>
                    <a href="#">Title1</a>
                </li>
                <li>
                    <a href="#">Title1</a>
                </li>
                <li>
                    <a href="#">Title1</a>
                </li>
                <li>
                    <a href="#">Title1</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Title2</a>
                </li>
                <li>
                    <a href="#">Title2</a>
                </li>
                <li>
                    <a href="#">Title2</a>
                </li>
                <li>
                    <a href="#">Title2</a>
                </li>
                <li>
                    <a href="#">Title2</a>
                </li>
                <li>
                    <a href="#">Title2</a>
                </li>
                <li>
                    <a href="#">Title2</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Title</a>
                </li>
                <li>
                    <a href="#">Title3</a>
                </li>
                <li>
                    <a href="#">Title3</a>
                </li>
                <li>
                    <a href="#">Title3</a>
                </li>
                <li>
                    <a href="#">Title3</a>
                </li>
                <li>
                    <a href="#">Title3</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="#">Title</a>
                </li>
                <li>
                    <a href="#">Title4</a>
                </li>
                <li>
                    <a href="#">Title4</a>
                </li>
                <li>
                    <a href="#">Title4</a>
                </li>
                <li>
                    <a href="#">Title4</a>
                </li>
                <li>
                    <a href="#">Title4</a>
                </li>
            </ul>
        </div>
    </div>
    <footer class="footer">
        <h3>&copy;Aguas Puras Copyright</h3>
    </footer>
    {% block body %}
    
    {% endblock %}
</body>
</html>